<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.werbsert.draft"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    <uses-permission 
        android:name="com.werbsert.testdraftset.testprovider.READ_PERMISSION"
        android:allowBackup="true" />
    <uses-permission 
        android:name="com.werbsert.testdraftset.testprovider.WRITE_PERMISSION"
        android:allowBackup="true" />
    <uses-permission 
        android:name="com.werbsert.rtr.rtrprovider.READ_PERMISSION" 
        android:allowBackup="true" />
    <uses-permission 
        android:name="com.werbsert.rtr.rtrprovider.WRITE_PERMISSION"
        android:allowBackup="true" />

    <application
        android:name="com.werbsert.draft.DraftSimulatorApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/com_werbsert_draft_draftsimulatorapplication_label"
        android:theme="@style/AppTheme"
        android:allowBackup="true" >
        <activity
            android:name="com.werbsert.draft.activity.BoosterViewActivity"
            android:label="@string/com_werbsert_draft_activity_boosterviewactivity_label" >
        </activity>
        <activity
            android:name="com.werbsert.draft.activity.CardCollectionViewActivity"
            android:label="@string/com_werbsert_draft_activity_cardcollectionviewactivity_label" >
        </activity>
        <activity
            android:name="com.werbsert.draft.view.FullScreenImage"
            android:label="@string/com_werbsert_draft_view_fullscreenimage_label" >
        </activity>
        <activity
            android:name="com.werbsert.draft.activity.SetSelectionMenuActivity"
            android:label="@string/com_werbsert_draft_activity_setselectionmenuactivity_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>